{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block title %}{{ rec.ultimate_recepient }}, пожертва {{ rec.amount|curformat }} грн. від {{ rec.donator_name }}{% endblock %}

{% block description %}
    {{ rec.type }}, донорський внесок у {{ rec.amount|curformat }} гривень для {{ rec.ultimate_recepient }} від {{ rec.donator_name }} {% if rec.donator_code %} ({{ rec.donator_code|format_edrpou }}){% endif %}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content" itemscope="" itemtype="http://schema.org/Organization">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading">
        {{ rec.ultimate_recepient }} ({{ rec.type }}, {{ rec.period|lower }})
    </h1>

    <div class="block document-details">
        <div class="block-header block-header-default">
            <h2 class="block-title">Детальна інформація: </h2>
            <div class="block-options">
                <button type="button" class="btn-block-option" onclick="Edrdr.helpers('print-page');">
                    <i class="si si-printer"></i> Друкувати
                </button>
                <button type="button" class="btn-block-option" data-toggle="block-option"
                        data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
            </div>
        </div>
        <div class="block-content">
            <div class="table-responsive push">
                <table class="table table-bordered table-hover">
                    <tr itemscope="" itemtype="{% if rec.donator_code %}http://schema.org/Organization{% else %}http://schema.org/Person{% endif %}" itemprop="sponsor">
                        <th>Донор</th>
                        <td><span itemprop="name">{{ rec.donator_name }}</span> {% if rec.donator_code %}(<a href="{{ url('search>results') }}?q={{ rec.donator_code }}" target="_blank"><span itemprop="taxId">{{ rec.donator_code|format_edrpou }}</a>)</span>{% else %}
                        {% for alt_name in parse_and_generate(rec.donator_name) %}<meta itemprop="alternateName" content="{{ alt_name }}" />{% endfor %}
                        {% endif %}<br/>
                        <span itemprop="address">{{ rec.donator_location }}</span>, {{ rec.donator_type }}</td>
                    </tr>

                    <tr>
                        <th>Сума пожертви</th>
                        <td>{{ rec.amount|curformat }} грн.</td>
                    </tr>
                    <tr>
                        <th>Дата пожертви</th>
                        <td>{{ rec.donation_date|date }}</td>
                    </tr>
                    <tr>
                        <th>Отримувач</th>
                        <td>{% if rec.candidate_name %}<span itemscope="" itemtype="http://schema.org/Person" itemprop="alumni"><span itemprop="name">{{ rec.candidate_name }}</span>,{% for alt_name in parse_and_generate(rec.candidate_name) %}<meta itemprop="alternateName" content="{{ alt_name }}" />{% endfor %}</span>{% endif %}<span itemprop="legalName">{{ rec.party }}</span></td>
                    </tr>
                    {% if rec.branch_code or rec.branch_name or rec.geo %}
                    <tr itemscope="" itemtype="http://schema.org/Organization" itemprop="subOrganization">
                        <th>Осередок</th>
                        <td>
                            {% if rec.branch_name %}<span itemprop="legalName">{{ rec.branch_name }}</span>{% endif %}
                            {% if rec.branch_code %}(<a href="{{ url('search>results') }}?q={{ rec.branch_code }}" target="_blank"><span itemprop="taxId">{{ rec.branch_code|format_edrpou }}</span></a>){% endif %}{% if rec.geo %}, <span itemprop="address">{{ rec.geo }}</span>{% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if rec.bank_name or rec.account_number or rec.payment_subject %}
                    <tr>
                        <th>Платіж</th>
                        <td>
                            {% if rec.account_number %}{{ rec.account_number }}{% endif %}
                            {% if rec.bank_name %}({{ rec.bank_name }}){% endif %}{% if rec.payment_subject %}<br/>{{ rec.payment_subject }}{% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if rec.transaction_doc_number %}
                    <tr>
                        <th>Номер розрахункового документа</th>
                        <td>
                            {{ rec.transaction_doc_number }}
                        </td>
                    </tr>
                    {% endif %}



                </table>
                {% if rec.details_url %}
                <a href="{{ rec.details_url }}" target="_blank">Посилання на оригінал</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
