{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading">
        {{ ultimate_recepient }}
    </h1>


    <div class="block document-details">
    	{% if period %}
        <div class="block-header block-header-default">
            <h2 class="block-title">
                {{ period }}
            </h2>
        </div>
        {% endif %}
        <div class="block-content">
            <div class="table-responsive push">
                <table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Транзакція</th>
							<th>Донор</th>
							<th>Знайдені порушення та підозрілі факти</th>
						</tr>
					</thead>
					{% for tr in transactions %}
						<tr>
							<td><a href="{{ tr.get_absolute_url() }}">{{ tr.amount|curformat }} грн. від {{ tr.data.donation_date|date }}</a></td>
							<td>{{ tr.data.donator_name }}{% if tr.data.donator_code %} (<a href="{{ url('search>results') }}?q={{ tr.data.donator_code }}&datasources=edrdr" target="_blank">{{ tr.data.donator_code|format_edrpou }}</a>){% endif %}, {{ tr.data.donator_type }}</td>
							<td>
								{% for flag in tr.flags.all() %}
								{{ flag.description }} <a href="{{ flag.get_absolute_url() }}">приклад</a> <br />
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
