{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block title %}{{ rec.company_name }} ({{ rec.company_edrpou }}){% endblock %}

{% block description %}
Компанія або філія &quot;{{ rec.company_name }}&quot; з кодом {{ rec.company_edrpou }} була зареєстрована {{ rec.company_reg_date|date }} за адресою {{ rec.company_address }}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content" itemscope="" itemtype="http://schema.org/Organization">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading">
        Компанія &quot;<span itemprop="name">{{ rec.company_name }}</span>&quot; (<a href="{{ url('search>results') }}?q={{ rec.company_edrpou }}" target="_blank" >{{ rec.company_edrpou|format_edrpou }}<meta itemprop="taxID" content="{{ rec.company_edrpou|format_edrpou }}" /></a>)
    </h1>

    <div class="block document-details">
        <div class="block-header block-header-default">
            <h2 class="block-title">Детальна інформація: </h2>
            <div class="block-options">
                <button type="button" class="btn-block-option" onclick="Edrdr.helpers('print-page');">
                    <i class="si si-printer"></i> Друкувати
                </button>
                <button type="button" class="btn-block-option" data-toggle="block-option"
                        data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
            </div>
        </div>
        <div class="block-content">
            <div class="table-responsive push">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Номер запису про реєстрацію</th>
                        <td>{{ rec.company_reg_no }}</td>
                    </tr>
                    <tr>
                        <th>Адреса реєстрації</th>
                        <td itemprop="address">{{ rec.company_address }}</td>
                    </tr>
                    <tr>
                        <th>Дата реєстрації</th>
                        <td>{{ rec.company_reg_date|date }}</td>
                    </tr>
                    <tr>
                        <th>Контролюючий орган за основним місцем обліку платника податків</th>
                        <td>{{ rec.tax_office_name }} ({{ rec.tax_office_code }})</td>
                    </tr>
                </table>
                {% if rec.details_url %}
                <a href="{{ rec.details_url }}" target="_blank">Посилання на оригінал</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
