{% extends "search/base.html" %}

{% block container_class %}sidebar-o side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="content">
        <!-- Frequently Asked Questions -->
        <h2 class="content-heading">
        	{{ rec.emitent_name }} ({{ rec.EDRPOU }})
        </h2>

        <!-- Introduction -->
        <div class="block">
            <table class="table">
                {% if rec.company_owner %}
                <tr>
                    <th>Акціонер</th>
                    <td>
                        {{ rec.company_owner.short_name }}<br/>
                        {% if rec.company_owner.code %}({{ rec.company_owner.code }}){% endif %}
                        {% if rec.company_owner.foreign_code %}({{ rec.company_owner.foreign_code }}){% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Повна назва</th>
                    <td>
                        {{ rec.company_owner.full_name }}
                    </td>
                </tr>
                {% endif %}
                {% if rec.person_owner %}
                <tr>
                    <th>Акціонер</th>
                    <td>
                        {{ rec.person_owner }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>Країна</th>
                    <td>
                        {{ rec.country_name }}
                    </td>
                </tr>
                <tr>
                    <th>ICIH</th>
                    <td>
                        {{ rec.ICIH }}
                    </td>
                </tr>
                <tr>
                    <th>Тип акцій</th>
                    <td>
                        {{ rec.type_of_stock }}
                    </td>
                </tr>
                <tr>
                    <th>Номінальна вартість</th>
                    <td>
                        {{ rec.nominal_price }} UAH
                    </td>
                </tr>
                <tr>
                    <th>Частка</th>
                    <td>
                        {{ rec.share }}%
                    </td>
                </tr>
                <tr>
                    <th>Кількість акцій</th>
                    <td>
                        {{ rec.number_of_shares }}
                    </td>
                </tr>
                <tr>
                    <th>Дата першого появлення запису</th>
                    <td>
                        {{ rec.first_updated_from_dataset|date }}
                    </td>
                </tr>
                <tr>
                    <th>Дата останнього оновлення</th>
                    <td>
                        {{ rec.last_updated_from_dataset|date }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

