{% extends "abstract/base_infocard.html" %}

{% block header %}
    <div class="edrpou">{{ res.EDRPOU }}</div>
    <h3 class="name">
        {{ res.emitent_name }}
    </h3>
{% endblock %}

{% block description %}
    Власник частки {{ res.share }}%
    {% if res.person_owner %}
        {{ res.person_owner }}
    {% else %}
        {{ res.company_owner.short_name or res.company_owner.full_name }}
        {% if res.company_owner.code %}({{ res.company_owner.code }}){% endif %}
    {% endif %}
{% endblock %}