{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block title %}{{ rec.name_ru }} {{ _("— Информация из реестра государственных предприятий и учреждений,
юридиеских лиц с участием государства в уставном капитале ") }}{% endblock %}

{% block description %}
{{ _("Компанія") }}
{{ rec.name_ru }}
{% if rec.id %}, {{ _("Идентификатор") }} {{ rec.id }}{% endif %}
{% if rec.bin %}, {{ _("БИН") }} {{ rec.bin }}{% endif %}
{% if rec.rnn %}, {{ _("РНН") }} {{ rec.rnn }}{% endif %}
, {{ _("Казахстан") }}
{% endblock %}


{% block content %}
<!-- Page Content -->
<div class="content" itemscope="" itemtype="http://schema.org/Organization">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading">
        {{ _("Компанія") }}
        {{ rec.name_ru }}
        {% if rec.id %}, {{ _("Идентификатор") }} {{ rec.id }}{% endif %}
        {% if rec.bin %}, {{ _("БИН") }} {{ rec.bin }}{% endif %}
        {% if rec.rnn %}, {{ _("РНН") }} {{ rec.rnn }}{% endif %}
        , {{ _("Казахстан") }}
    </h1>

    <div class="block document-details">
        <div class="block-header block-header-default">
            <h2 class="block-title">{{ _("Детальна інформація:") }} </h2>
            <div class="block-options">
                <button type="button" class="btn-block-option" onclick="Edrdr.helpers('print-page');">
                    <i class="si si-printer"></i> {{ _("Друкувати") }}
                </button>
                <button type="button" class="btn-block-option" data-toggle="block-option"
                        data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
            </div>
        </div>
        <div class="block-content">
            <div class="table-responsive push">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>{{ _('Идентификатор') }}</th>
                        <td>{{ rec.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('БИН') }}</th>
                        <td>{{ rec.bin }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('РНН') }}</th>
                        <td>{{ rec.rnn }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('ОКПО') }}</th>
                        <td>{{ rec.okpo }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Название (рус. яз.)') }}</th>
                        <td>{{ rec.name_ru }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Название (каз. яз.)') }}</th>
                        <td>{{ rec.name_kz }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Адрес') }}</th>
                        <td>{{ rec.address }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('ОПФ') }}</th>
                        <td>{{ rec.opf }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('КФС (уровень 4)') }}</th>
                        <td>{{ rec.kfs_4 }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('КФС') }}</th>
                        <td>{{ rec.kfs }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('№ госрегистрации') }}</th>
                        <td>{{ rec.reg_id }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Дата госрегистрации') }}</th>
                        <td>{{ rec.date_of_reg|date }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Дата первичной госрегистрации') }}</th>
                        <td>{{ rec.date_of_reg_init|date }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Статус') }}</th>
                        <td>{{ rec.status }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Блокировка') }}</th>
                        <td>{{ rec.lock }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Орган госуправления') }}</th>
                        <td>{{ rec.agency_of_state }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Собственник') }}</th>
                        <td>{{ rec.owner }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Отрасль (уровень 1)') }}</th>
                        <td>{{ rec.branch_1 }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Отрасль (уровень 4)') }}</th>
                        <td>{{ rec.branch_4 }}</td>
                    </tr>
                </table>
                {% if rec.details_url %}
                <a href="{{ rec.details_url }}" target="_blank">{{ _("Посилання на оригінал") }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
