{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block title %}{{ rec.owner_name }} ({{ rec.owner_code }}), спецдозвіл на користування надрами № {{ rec.reg_no }} {% endblock %}

{% block description %}
Інформація з реєстру державного інформаційного геологічного фонду України (Геоінформ України) про спеціальні дозволи на користування надрами видані компанії {{ rec.owner_name }} ({{ rec.owner_code }})
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content" itemscope="" itemtype="http://schema.org/Organization">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading">
        Спеціальний дозвіл №{{ rec.reg_no }}, виданий <span itemprop="name">{{ rec.owner_name }}</span>, (<span itemprop="taxID">{{ rec.owner_code|format_edrpou }}</span>)
    </h1>

    <div class="block document-details">
        <div class="block-header block-header-default">
            <h2 class="block-title">Детальна інформація: </h2>
            <div class="block-options">
                <button type="button" class="btn-block-option" onclick="Edrdr.helpers('print-page');">
                    <i class="si si-printer"></i> Друкувати
                </button>
                <button type="button" class="btn-block-option" data-toggle="block-option"
                        data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
            </div>
        </div>
        <div class="block-content">
            <div class="table-responsive push">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Об'єкт</th>
                        <td>{{ rec.obj }}</td>
                    </tr>
                    <tr>
                        <th>Корисна копалина</th>
                        <td>{{ rec.mineral }}</td>
                    </tr>
                    <tr>
                        <th>Стан спецдозволу</th>
                        <td>{{ rec.status }}</td>
                    </tr>
                    <tr>
                        <th>Власник</th>
                        <td>{{ rec.owner }}</td>
                    </tr>
                    <tr>
                        <th>Дата надання</th>
                        <td>{{ rec.start_date }}</td>
                    </tr>
                    <tr>
                        <th>Дата закінчення</th>
                        <td>{{ rec.end_date }}</td>
                    </tr>
                    <tr>
                        <th>Вид користування надрами</th>
                        <td>{{ rec.kind }}</td>
                    </tr>
                </table>
                {% if rec.details_url %}
                <a href="{{ rec.details_url }}" target="_blank">Посилання на оригінал</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
