{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block title %}{{ rec.customer }}, дозвільні документи ДАБІ на будівництво № {{ rec.number }} {% endblock %}

{% block description %}
Інформація з реєстру державної архітектурно-будівельної інспекції України (ДАБІ) про дозвільні документи, видані компанії {{ rec.customer }}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading" itemscope="" itemtype="http://schema.org/Organization">
        Ліцензія {{ rec.number }}, видана <span itemprop="name">{{ rec.customer }}</span>
    </h1>

    <div class="block document-details">
        <div class="block-header block-header-default">
            <h2 class="block-title">Детальна інформація: </h2>
            <div class="block-options">
                <button type="button" class="btn-block-option" onclick="Edrdr.helpers('print-page');">
                    <i class="si si-printer"></i> Друкувати
                </button>
                <button type="button" class="btn-block-option" data-toggle="block-option"
                        data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
            </div>
        </div>
        <div class="block-content">
            <div class="table-responsive push">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>ІДАБК</th>
                        <td>{{ rec.idabk }}</td>
                    </tr>
                    <tr>
                        <th>Документ</th>
                        <td>{{ rec.document }}</td>
                    </tr>

                    <tr>
                        <th>Об'єкт</th>
                        <td>{{ rec.obj }}</td>
                    </tr>
                    <tr>
                        <th>Категорія</th>
                        <td>{{ rec.cat }}</td>
                    </tr>
                    <tr>
                        <th>Технічний нагляд</th>
                        <td>{{ rec.tech_oversee }}</td>
                    </tr>
                    <tr>
                        <th>Проектувальник</th>
                        <td>{{ rec.designer }}</td>
                    </tr>
                    <tr>
                        <th>Авторський нагляд</th>
                        <td>{{ rec.authors_oversee }}</td>
                    </tr>
                    <tr>
                        <th>Підрядник</th>
                        <td>{{ rec.contractor }}</td>
                    </tr>
                    <tr>
                        <th>Інформація про земельну ділянку</th>
                        <td>{{ rec.land_plot_info }}</td>
                    </tr>
                    <tr>
                        <th>Видана</th>
                        <td>{{ rec.month }}.{{ rec.year }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
