{% set sugg_text = suggestion[0][0] %}
{% set first_rec = suggestion[0][1].to_dict() %}
<span data-sugg_text="{{ sugg_text|striptags }}">
{% if suggestion|length == 1 %}
<span>{{ sugg_text|safe }}</span><span class="autocomplete-hint pull-right">{{ first_rec.full_edrpou }}{% if sugg_text|striptags not in first_rec.companies -%}
, {{ first_rec.latest_record.short_name or first_rec.latest_record.name }}
{%- endif %}
</span>
{% else %}
<span>{{ sugg_text|safe }}</span><span class="autocomplete-hint pull-right">{{ suggestion|length }} {{ suggestion|length|uk_plural(_("компанія"), _("компанії"), _("компаній")) }}</span>
{% endif %}
</span>