{% extends "search/base.html" %}

{% block title %}Відкритий API - реєстр реєстрів RING{% endblock %}

{% block body_class %}page-company{% endblock %}
{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow page-header-fixed page-header-inverse{% endblock %}

{% block content %}
    <!-- Feature: Powerful Layout -->
    <div class="bg-white section-2">
        <div class="content">
            <div class="pb-50">
                <h3 class="h1 font-w700 text-center mb-10">
                    {{ object.name }}
                </h3>
                <div class="row nice-copy my-10">
                    <div class="col-md-12 py-20">
                        {{ object.description|safe }}
                        {% if object.description_en %}
                            <hr />
                            {{ object.description_en|safe }}
                        {% endif %}
                    </div>
                </div>
                <div class="block-content">
                    <div class="table-responsive push">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Скорочена назва</th>
                                <td>{{ datasource.verbose_name }}</td>
                            </tr>
                            <tr>
                                <th>Категорія</th>
                                <td><span class="datasource-tag">{{ datasource.short_name }}</span></td>
                            </tr>
                            {% if first_updated %}
                            <tr>
                                <th>Дата першого запису</th>
                                <td>{{ first_updated|date }}</td>
                            </tr>
                            {% endif %}
                            {% if last_updated %}
                            <tr>
                                <th>Дата найсвіжішого запису</th>
                                <td>{{ last_updated|date }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Ідентифікатор</th>
                                <td>{{ datasource.name }}</td>
                            </tr>
                            <tr>
                                <th>Кількість записів</th>
                                <td>{{ rec_count|format_number }}</td>
                            </tr>
                            {% if object.url %}
                            <tr>
                                <th>Посилання на оригінал</th>
                                <td><a href="{{ object.url }}" target="_blank">{{ object.url }}</a></td>
                            </tr>
                            {% endif %}
                            {% if object.credits %}
                            <tr>
                                <th>Походження набору даних</th>
                                <td>{{ object.credits|safe }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}