{% extends "search/base.html" %}

{% block sidebars %}
{% endblock %}

{% block body_class %}front{% endblock %}
{% block container_class %}main-content-narrow{% endblock %}

{% block content %}
    <!-- Hero -->
    <div class="bg-image" style="background-image: url({{ static('img/photos/photo23@2x.jpg') }});">
        <div class="hero bg-black-op">
            <div class="hero-inner">
                <div class="content content-full text-center border-white-op-b">
                    <h1 class="display-3 font-w700 mb-10 invisible" data-toggle="appear" data-class="animated fadeInDown">
                        <span class="svg-image inline-logo media-object">
                                <svg preserveAspectRatio="xMidYMid" focusable="false">
                                    <use xlink:href="{{ static('img/sprite.svg') }}#logo"></use>
                                </svg>
                            </span>RING</span>
                    </h1>
                    <h2 class="font-w400 mb-50 invisible" data-toggle="appear" data-class="animated fadeInDown">Сервіс пошуку</h2>
                    <form class="br-10 bg-white push col-sm-6 ml-auto mr-auto" action="{{ url('search>results') }}" method="get" _lpchecked="1" autocomplete="off">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control search-form-q" name="q" data-provide="typeahead" id="search-form" placeholder="{{ _("Пошук") }}" data-endpoint="{{ url("search>suggest") }}" autocomplete="off">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <p>Наприклад: Рошен, Ромашко Роман Петрович, ПП "РОМДІРОМ", 37504544 </p>

                        {% set vars = {'db_src': 0} %}
                        {% for ds in datasources %}
                            {% if vars.update({'db_src': vars.db_src + 1}) %} {% endif %}
                        {% endfor %}

                        <div class="block block-mode-hidden text-sm-left mt-10 br-10">
                            <div class="block-header block-header-default bg-transparent">
                                <h3 class="block-title bg-transparent">Джерел пошуку: {{ vars.db_src}}</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                                </div>
                            </div>
                            <div class="block-content">
                                <div class="form-group row">
                                    <div class="col-12">
                                        {% for ds in datasources %}
                                        <div class="custom-control custom-checkbox mb-5">
                                            <input class="custom-control-input" type="checkbox" name="datasources" checked="" id="datasources-{{ loop.index }}" value="{{ ds.name }}">
                                            <label class="custom-control-label" for="datasources-{{ loop.index }}">{{ ds.verbose_name }}</label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END Hero -->

    <!-- Feature: Powerful Layout -->
    <div class="bg-white section-2">
        <div class="content">
            <div class="pb-50">
                <h3 class="h1 font-w700 text-center mb-10">
                    Чому ми? <span class="text-primary">Канцелярська сотня рекомендує:</span>
                </h3>
                <h4 class="h3 font-w400 text-muted text-center mb-30">Лише офіційні дані, поглиблений пошук, зручний дизайн</h4>
                <hr>
                <div class="row nice-copy my-10">
                    <div class="col-md-4 py-20">
                        <h4 class="font-size-xl font-w700 text-uppercase mb-10">
                            <img class="no-shadow" width="20" src="{{ static('img/ua.svg') }}" /> Офіційність
                        </h4>
                        <p class="mb-0">Усі дані офіційно отримані з Державного реєстру юридичних осіб та фізичних осіб-підприємців.
                            Дані оновлюються щотижнево і охоплюють період понад два роки.</p>
                    </div>
                    <div class="col-md-4 py-20">
                        <h4 class="font-size-xl font-w700 text-uppercase mb-10">
                            <i class="fa fa-refresh text-earth mr-5"></i> Відкритість і доступність
                        </h4>
                        <p class="mb-0">Усе безкоштовно. Жодних реєстрацій. Жодної капчі (вони бісять). Зручні таймлайни змін в компаніях - для всіх.
                            Відкритий і безкоштовний АРІ для тих, хто знає, що з ним робити.</p>
                    </div>
                    <div class="col-md-4 py-20">
                        <h4 class="font-size-xl font-w700 text-uppercase mb-10">
                            <i class="fa fa-bolt text-danger mr-5"></i> Інтелект та гнучкість
                        </h4>
                        <p class="mb-0">Поглиблений пошук. Враховані перейменування вулиць - шукайте так, як знаєте. Автодоповнення, врахування помилок в прізвищах. Магія.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}