{% extends "companies/base.html" %}

{% block container_class %}sidebar-o side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="content">
        <!-- Frequently Asked Questions -->
        <h2 class="content-heading">{{ _("Копія ЄДР") }} {{ revision.revision_id }} {{ _("від") }} {{ revision.created|datetime }}</h2>

        <!-- Introduction -->
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    <strong>
                        {% if revision.imported %}
                            {{ _("завантажена повністю") }}
                        {% endif %}
                    </strong>
                </h3>
            </div>
            <div class="block-content block-content-full">
                <div id="faq1" role="tablist" aria-multiselectable="true">
                    <div class="block block-bordered block-rounded mb-5">
                        <div id="faq1_q1" class="collapse show" role="tabpanel" aria-labelledby="faq1_h1">
                            <div class="block-content border-t">
                                <p><a href="{{ revision.url }}">{{ _("Файл даних") }}</a></p>
                                <p><a href="http://data.gov.ua/passport/{{ revision.dataset_id }}/version/{{ revision.revision_id }}">{{ _("Паспорт даних") }}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

