{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow page-header-fixed page-header-inverse{% endblock %}

{% block title %}{{ query }} — Ring, зручний пошук по відкритим даним України{% endblock %}

{% block description %}Результати пошуку по джерелах {% for ds in datasources if ds.name in enabled_datasources %}{{ ds.verbose_name }}{% if not loop.last %}, {% endif %}{% endfor %}
{% endblock %}


{% block content %}
    <div class="content">
        <!-- Search -->
        <form class="push col-sm-6 ml-auto mr-auto" action="{{ url('search>results') }}" method="get" _lpchecked="1">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control search-form-q" name="q" data-provide="typeahead" id="search-form" placeholder="{{ _("Пошук") }}" data-endpoint="{{ url("search>suggest") }}" value="{{ query }}">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            {% set vars = {'db_src': 0} %}
            {% for ds in datasources %}
                {% if ds.name in enabled_datasources %}
                    {% if vars.update({'db_src': vars.db_src + 1}) %} {% endif %}
                {% endif %}
            {% endfor %}

            <div class="block block-mode-hidden block-ds-toggle">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Джерел пошуку: {{ vars.db_src}}</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox mb-5">
                                <input class="custom-control-input" type="checkbox" name="clearall" checked="checked" id="clearall">
                                <label class="custom-control-label" for="clearall">Всі</label>
                            </div>
                            {% for ds in datasources %}
                            <div class="custom-control custom-checkbox mb-5">
                                <input class="custom-control-input" type="checkbox" name="datasources" {% if ds.name in enabled_datasources %}checked="" {% endif %} id="datasources-{{ loop.index }}" value="{{ ds.name }}">
                                <label class="custom-control-label" for="datasources-{{ loop.index }}">{{ ds.verbose_name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END Search -->

        <div class="js-filter" data-numbers="true">
            <div class="block">
                <ul class="nav nav-tabs nav-tabs-alt nav-tabs-alt-classic js-tabs-enabled" data-toggle="tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link{% if search_type == "strict" %} active{% endif %}" href="{{ url("search>results") }}?{{ updated_querystring(request, {'search_type': "strict"}) }}" data-category-link="all">{{ _("Повний збіг") }} ({% if search_type == "strict" %}{{ strict_count }}{% else %}{% if strict_count >= base_count %}+{% endif %}{{ strict_count - base_count }}{% endif %})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if search_type == "loose" %} active{% endif %}" href="{{ url("search>results") }}?{{ updated_querystring(request, {'search_type': "loose"}) }}" data-category-link="ghata">{{ _("Неповний збіг") }} ({% if search_type == "loose" %}{{ loose_count }}{% else %}{% if loose_count >= base_count %}+{% endif %}{{ loose_count - base_count }}{% endif %})</a>
                    </li>
                </ul>
                <div class="block-content tab-content">
                    <div class="tab-pane active show" role="tabpanel">
                        {% if search_results.aggregations and search_results.aggregations.count_by_type.buckets|length > 1 %}
                        <ul class="nav nav-pills">
                            {% for bucket in search_results.aggregations.count_by_type.buckets %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url("search>results") }}?{{ updated_querystring(request, {'datasources': doctypes_mapping[bucket.key].name}) }}" data-category-link="ghata">{{ doctypes_mapping[bucket.key].verbose_name }} ({{ bucket.doc_count }})</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row items-push">
                {% for res in search_results %}
                    {{ res.render_infocard()|safe }}
                {% endfor %}
            </div>
        </div>

        {% if search_results.paginator.num_pages > 1 %}
        <nav>
            <ul class="pagination pagination-lg">
                <li class="page-item{% if not search_results.has_previous() %} disabled{% endif %}">
                    <a href="{{ url("search>results") }}{% if search_results.has_previous() %}?{{ updated_querystring(request, {'page': search_results.previous_page_number()}) }}{% endif %}" class="page-link">
                        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                        <span class="sr-only">{{ _("Попередня") }}</span>
                    </a>
                </li>
                {% for page_num in search_results.contextual_page_range %}
                {% if page_num == None %}
                    <li class="page-item disabled"><span>&hellip;</span></li>
                {% else %}
                    <li{% if search_results.number == page_num %} class="page-item active"{% endif %}>
                        <a href="{{ url("search>results") }}?{{ updated_querystring(request, {'page': page_num}) }}"  class="page-link">{{ page_num }}</a>
                    </li>
                {% endif %}
                {% endfor %}
                <li class="page-item{% if not search_results.has_next() %} disabled{% endif %}">
                    <a href="{{ url("search>results") }}{% if search_results.has_next() %}?{{ updated_querystring(request, {'page': search_results.next_page_number()}) }}{% endif %}" class="page-link">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">{{ _("Наступна") }}</span>
                    </a>
                </li>
            </ul>
        </nav>
        {% endif %}
        <!-- END Results -->
    </div>
{% endblock %}

