.front {
  h1, h2 {
    color: white;
  }

  .hero-inner {
    .svg-image {
      display: inline-block;
      width: 45px;
      height: 45px;
    }

    form {
      p {
        margin-top: 10px;
        margin-bottom: 0;
        color: white;
      }
    }
  }

  .img-fluid {
    margin-bottom: 40px;
  }

  .section-2 {
    position: relative;
    z-index: 2;

    .options-container {
      padding: 20px;
    }

    img {
      box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.23);
      border-radius: 3px;

      &.no-shadow {
        box-shadow: none;
      }
    }
  }

  .select2-container--default .select2-selection--multiple {
    background: none;
    border: none;
    margin-top: 10px;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__rendered li:last-child:after {
    display: inline-block;
    color: #212529;
    background-color: #f5f6f7;
    border-color: #d3d7dc;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 0 0 -20px;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__rendered li + li:after {
    display: inline-block !important;
    margin: 0 !important;
  }

}

.page-search {
  .header-search-button {
    display: none;
  }
}


.page-company {
  .bg-primary {
    background: -moz-linear-gradient(0deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(114,76,253,0.46)), color-stop(100%, rgba(61,168,243,0.46)));
    background: -webkit-linear-gradient(0deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);
    background: -o-linear-gradient(0deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);
    background: -ms-linear-gradient(0deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);
    background: linear-gradient(90deg, rgba(114,76,253,0.46) 0%, rgba(61,168,243,0.46) 100%);
  }
}

.wysiwyg-section {
  max-width: 1024px;
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;

  p {
    font-size: 18px;
  }
}


//todo refactor

canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.bg-black-op {
  background-color: rgba(0,0,0,.2) !important;

  &:after {
    //content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 120px;
    width: 100%;
    height: 120px;
    background: white;
    transform: skewY(-4deg);
  }
}

.document-details {
  .block-title {
    font-weight: bold !important;
    font-size: 1.8rem;
  }

  .block-content {
    padding: 20px 60px 60px;
  }
}
