{% extends "abstract/base_infocard.html" %}
{% block header %}
    <h3 class="name">
        {{ res.general.last_name }} {{ res.general.name }} {{ res.general.patronymic }}
    </h3>
{% endblock %}

{% block description %}
    <br/> 
    {% if res.intro.declaration_year %}{{ res.intro.declaration_year }}<span>,</span>{% endif %}
    {% if res.intro.doc_type %}{{ res.intro.doc_type }}<span>,</span>{% endif %}
    {% if res.intro.corrected %}Уточнена <span>,</span>{% endif %}

    {% if res.general.post.actual_region %}
    	{{ res.general.post.actual_region }}<span>,</span><br />
    {% elif res.general.post.region %}
    {{ res.general.post.region }}<span>,</span></br />
    {% endif %}

    {% if res.general.post.office %}
    	{{ res.general.post.office }}<span>,</span><br />
    {% endif %}
    {% if res.general.post.post %}
    	{{ res.general.post.post }}
    {% endif %}
    {% if res.intro.date %}
    	<span class="glyphicon glyphicon-calendar"></span> подана {{ res.intro.date|datetime }}
    {% endif %}
{% endblock %}