{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block title %}Борг {{ rec.NAME }} перед {{ rec.DPI }} {% endblock %}

{% block description %}
Податковий борг {{ rec.NAME }} перед {{ rec.DPI }} склав {{ (rec.SUM_D + rec.SUM_M) }} тисяч гривень
{% endblock %}

{% block content %}
<!-- Page Content -->

{% if rec.TIN_S %}
<div class="content" itemscope="" itemtype="http://schema.org/Organization">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading">
        Податковий борг <span itemprop="name">{{ rec.NAME }}</span> (<a href="{{ url('search>results') }}?q={{ rec.TIN_S }}" target="_blank" >{{ rec.TIN_S|format_edrpou }}<meta itemprop="taxID" content="{{ rec.TIN_S|format_edrpou }}" /></a>) станом на {{ rec.last_updated_from_dataset|date }}
    </h1>
{% else %}
<div class="content" itemscope="" itemtype="http://schema.org/Person">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading">
        Податковий борг <span itemprop="name">{{ rec.NAME }} станом на {{ rec.last_updated_from_dataset|date }}</span>
    </h1>
{% endif %}
    <div class="alert alert-danger" role="alert">
    ВАЖЛИВО: Податковий борг зафіксований станом на дату {{ rec.last_updated_from_dataset|date }}. Це не означає що він є станом на зараз. Перевірити поточний стан податкового боргу можна <a href="http://sfs.gov.ua/businesspartner">тут</a>
    </div>
    <div class="block document-details">
        <div class="block-header block-header-default">
            <h2 class="block-title">Детальна інформація: </h2>
            <div class="block-options">
                <button type="button" class="btn-block-option" onclick="Edrdr.helpers('print-page');">
                    <i class="si si-printer"></i> Друкувати
                </button>
                <button type="button" class="btn-block-option" data-toggle="block-option"
                        data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
            </div>
        </div>
        <div class="block-content">
            <div class="table-responsive push">
                <table class="table table-bordered table-hover">
                    {% if rec.PIB %}
                    <tr itemscope="" itemtype="http://schema.org/Person" itemprop="employee">
                        <th>ПІБ керівника суб’єкта господарювання</th>
                        <td itemprop="name">{{ rec.PIB }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Територіальний орган Державної фіскальної служби України</th>
                        <td>{{ rec.DPI }}</td>
                    </tr>
                    <tr>
                        <th>Керівник територіального органу Державної фіскальної служби України</th>
                        <td>{{ rec.DPI_BOSS }}</td>
                    </tr>
                    {% if rec.SUM_D %}
                    <tr>
                        <th>Сума податкового боргу до державного бюджету</th>
                        <td>{{ (rec.SUM_D * 1000)|curformat }} грн.</td>
                    </tr>
                    {% endif %}
                    {% if rec.SUM_M %}
                    <tr>
                        <th>Сума податкового боргу до місцевого бюджету</th>
                        <td>{{ (rec.SUM_M * 1000)|curformat }} грн.</td>
                    </tr>
                    {% endif %}
                    {% if rec.first_updated_from_dataset %}
                    <tr>
                        <th>Дата першого появлення запису</th>
                        <td>
                            {{ rec.first_updated_from_dataset|date }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if rec.last_updated_from_dataset %}
                    <tr>
                        <th>Дата останнього оновлення</th>
                        <td>
                            {{ rec.last_updated_from_dataset|date }}
                        </td>
                    </tr>
                    {% endif %}
                </table>
                {% if rec.details_url %}
                <a href="{{ rec.details_url }}" target="_blank">Посилання на оригінал</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
