{% extends "search/base.html" %}

{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow  page-header-fixed page-header-inverse{% endblock %}

{% block title %}{{ rec.obj }} ({{ rec.edrpou }}), ліцензія ДАБІ на будівництво № {{ rec.license }} {% endblock %}

{% block description %}
Інформація з реєстру державної архітектурно-будівельної інспекції України (ДАБІ) про ліцензії на будівництво видані компанії {{ rec.obj }} ({{ rec.edrpou }})
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="content" itemscope="" itemtype="http://schema.org/Organization">
    <!-- Frequently Asked Questions -->
    <h1 class="content-heading">
        Ліцензія {{ rec.license }}, видана <span itemprop="name">{{ rec.obj }}</span>, (<span itemprop="taxID">{{ rec.edrpou|format_edrpou }}</span>)
    </h1>

    <div class="block document-details">
        <div class="block-header block-header-default">
            <h2 class="block-title">Детальна інформація: </h2>
            <div class="block-options">
                <button type="button" class="btn-block-option" onclick="Edrdr.helpers('print-page');">
                    <i class="si si-printer"></i> Друкувати
                </button>
                <button type="button" class="btn-block-option" data-toggle="block-option"
                        data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
            </div>
        </div>
        <div class="block-content">
            <div class="table-responsive push">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>Адреса об'єкта будівництва</th>
                        <td>{{ rec.address }}</td>
                    </tr>
                    <tr>
                        <th>Вид</th>
                        <td>{{ rec.kind }}</td>
                    </tr>
                    <tr>
                        <th>Номер</th>
                        <td>{{ rec.number }}</td>
                    </tr>
                    <tr>
                        <th>Дата видачі</th>
                        <td>{{ rec.start_date }}</td>
                    </tr>
                    <tr>
                        <th>Дійсна до</th>
                        <td>{{ rec.end_date }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
