{% extends "search/base.html" %}

{% block body_class %}page-company{% endblock %}
{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow page-header-fixed page-header-inverse{% endblock %}

{% block title %}Як користуватися пошуком по реєстру реєстрів RING{% endblock %}

{% block content %}
    <!-- Feature: Powerful Layout -->
    <div class="bg-white section-2">
        <div class="content">
            <div class="pb-50">
                <h3 class="h1 font-w700 text-center mb-10">
                    Як користуватися пошуком
                </h3>
                <div class="row nice-copy my-10">
                    <div class="col-md-12 py-20">
                        <p>Відкрити головну сторінку, вбити пошуковий запит (ПІБ, назва компанії або організації, адреса), а за потреби – обрати джерела даних, де плануєте шукати (або просто шукати в усіх). Потім – переглянути результати. Якщо нічого не знайшли, варто подивитися результати  пошуку за неповним співпадінням.</p>
                        <p>Результати пошуку будуть у вигляді карток. Якщо навести на них курсор, то можна побачити фрагмент, який має співпадіння з вашим пошуковим запитом. Клікнувши на картку, ви отримаєте повний запис вашої знахідки (наприклад, уже готової до друку).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}