{% extends "search/base.html" %}

{% block site_title %}Відкритий API - реєстр реєстрів RING{% endblock %}

{% block body_class %}page-company{% endblock %}
{% block container_class %}sidebar-o sidebar-inverse side-scroll main-content-narrow page-header-fixed page-header-inverse{% endblock %}

{% block content %}
    <!-- Feature: Powerful Layout -->
    <div class="bg-white section-2">
        <div class="content">
            <div class="pb-50">
                <h3 class="h1 font-w700 text-center mb-10">
                    Відкритий API
                </h3>
                <div class="row nice-copy my-10">
                    <div class="col-md-12 py-20">
                        <div class="alert alert-info" role="alert">
                            Знаходиться у стадії бета-тестування. Надсилайте ваші відгуки на адресу <a href="mailto:bihus.info+ring@gmail.com">bihus.info+ring@gmail.com</a>
                        </div>
                        <p>Щоби скористатися API до нашого реєстру реєстрів, просто додайте параметр <code>format=json</code> до адресного рядка сторінки з результати пошуку, наприклад так:
                        </p>
                        <code>
                            https://ring.org.ua/search?q=кононенко&datasources=smida&datasources=posipaky_info&datasources=posipaky_2_info&datasources=edrdr&datasources=garnahata_in_ua&datasources=vkks&datasources=nacp_declarations&datasources=paper_declarations&datasources=cvk_2015&datasources=smida_reports&datasources=dabi_licenses&datasources=dabi_registry<strong>&format=json</strong>
                        </code>
                        <p>
                            <br/>
                            Таким чином ви отримаєте ті самі результати, але в форматі машиночитних даних. Документ з результатами складається з наступних розділів
                            <ul>
                                <li><strong>search_results</strong> — знайдені документи та інформація щодо поточної сторінки</li>
                                <li><strong>query</strong> — ваш запит до системи</li>
                                <li><strong>search_type</strong> — режим пошуку (<code>strict</code> — повне збіг, <code>loose</code> — неповне збіг)</li>
                                <li><strong>strict_count</strong> — кількість результатів в режимі повного збіг</li>
                                <li><strong>loose_count</strong> — кількість результатів в режимі неповного збіг</li>
                                <li><strong>base_count</strong> — кількість результатів в поточному режимі пошуку</li>
                                <li><strong>enabled_datasources</strong> — джерела по котрим проводиться пошук</li>
                                <li><strong>datasources</strong> — додаткова інформація по джерелам пошуку, включно з назвою українською</li>
                            </ul>
                        </p>
                        <p>
                            Вміст <code>search_results</code> складається з наступних полів
                            <ul>
                                <li><strong>paginator</strong> — інформація про поточну сторінку та розбивку на сторінки, де <code>count</code> — загальна кількість результатів, <code>num_pages</code> — кількість сторінок, <code>per_page</code> — кількість результатів на сторінку</li>
                                <li><strong>number</strong> — номер поточної сторінки</li>
                                <li><strong>object_list</strong> — власне, результати пошуку</li>
                            </ul>
                        </p>
                        <p>
                            Звісно, що документи з різних джерел пошуку (наприклад, декларацій та реєстру компаній) буде мати різну структуру, але частина з полів буде єдина для всіх джерел
                            <ul>
                                <li><strong>id</strong> — унікальний ідентифікатор документа</li>
                                <li><strong>source</strong> — датасет-джерело (використовуйте поле <code>datasources</code> щоб отримати більше інформації про датасет)</li>
                                <li><strong>last_updated_from_dataset</strong> — остання дата, коли ми знайшли цей запис у оригінальному датасеті (може бути відсутня)</li>
                                <li><strong>first_updated_from_dataset</strong> перша дата, коли ми знайшли цей запис у оригінальному датасеті (може бути відсутня)</li>
                            </ul>

                            Окрім того ми додаємо витягаємо, чистимо та доповнюємо (наприклад, перекладаємо російською) наступні сутності
                            <ul>
                                <li><strong>addresses</strong> — перелік адрес, що були зазначені в документі (може бути відсутнє)</li>
                                <li><strong>persons</strong> — перелік осіб, що були зазначені в документі (може бути відсутнє)</li>
                                <li><strong>companies</strong> — перелік компаній, що були зазначені в документі (може бути відсутнє)</li>
                                <li><strong>countries</strong> — перелік країн, що були зазначені в документі (може бути відсутнє)</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}